button {
  width: 160px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

table {
  font-size: 18px;
}

thead {
  background-color: black;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: rgb(204, 204, 204);
}
