html {
  width: 1900px;
  font-family: 'DM Sans', sans-serif;
}

.grey-text {
  color: #d5d5d5;
}

.text-highlighted {
  background-color: #fff2e7;
}

.line-through {
  text-decoration: line-through;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  height: 365.906px;
}

.new-items-section {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
}

.new-item {
  flex-basis: 20%;
  margin: 0 10px;
}
