html {
  font-family: 'Courgette', sans-serif;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 3em;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem black;
}

h2 {
  font-family: sans-serif;
  font-size: 3em;
}

.play-again-text {
  font-size: 2em;
}

span.complete {
  color: rgb(0, 206, 120);
}

.incorrect {
  color: rgba(255, 60, 0, 0.828);
}

.finished-card {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem black;
}

.hidden {
  display: none;
}

button {
  font-size: 2em;
  background-color: rgb(0, 140, 255);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem black;
}

button:hover {
  cursor: pointer;
  background-color: blue;
}
