body {
  font-size: 22px;
}

h2 {
  font-family: Tiempos Headline, sans-serif;
}

p {
  font-family: Avenir, sans-serif;
  line-height: 1.6;
}

/* utility classes */
.gray-text {
  color: #a8a8a8;
}

.blue-text {
  color: #376581;
}

.white-text {
  color: white;
}

.no-underline-link {
  text-decoration: none;
}

/* canvas-header */
.canvas-header {
  width: 100%;
  font-family: Avenir, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8%;
  border-bottom: 1px solid #e7e9ec;
}

.canvas-header > img {
  justify-self: flex-start;
}

.canvas-header > .header-links {
  display: flex;
  align-items: center;
}

.header-gray-links > a {
  margin: 0 40px;
  font-weight: bold;
}

.header-links > button {
  background-color: #294464;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  font-size: 1.2em;
}

/* canvas-footer */
.learn-more {
  color: #6e6e6e;
  border-top: 1px solid #e7e9ec;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learn-more > .learn-more-heading {
  margin-left: 100px;
}

.learn-more-heading > h3 {
  font-size: 2em;
  margin-bottom: 15px;
}

.learn-more > .learn-more-btn-col {
  margin-right: 80px;
}

.more-links {
  margin: 0 auto;
  padding: 150px 100px;
  display: flex;
  align-items: flex-start;
  background-color: #525351;
  color: white;
  font-family: Avenir, sans-serif;
}

.more-links > .details {
  flex-basis: 50%;
}

.details > img {
  margin-bottom: 25px;
}

.more-links > .company-col,
.product-col {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.company-col > h4,
.product-col > h4 {
  margin: 10px 0;
}

.company-col > a,
.product-col > a {
  margin: 15px 0;
}

.terms-and-contact {
  padding: 80px 100px;
}

.terms-and-contact > a {
  font-family: Avenir, sans-serif;
  font-weight: bold;
  margin-right: 30px;
  color: #6e6e6e;
}

/* page content universal sizing */
.page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fafafa;
  color: #6e6e6e;
}

/* index.html main page content */
.hero-banner {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#hero-img {
  position: relative;
  width: 1600px;
  height: 760px;
  object-fit: cover;
  filter: contrast(70%) brightness(85%);
  margin: 0;
}

.hero-banner > h2 {
  font-size: 2.4em;
  position: absolute;
  left: 250px;
  top: 320px;
  color: white;
}

.hero-banner > p {
  font-family: Avenir, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  position: absolute;
  left: 250px;
  top: 520px;
  width: 40%;
  color: white;
}

.hero-banner > button {
  position: absolute;
  left: 250px;
  top: 900px;
}

.get-started-btn {
  background-color: #294464;
  border-radius: 8px;
  font-size: 1.5em;
  color: white;
  padding: 15px 50px;
}

.prefer-canvas-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Avenir, sans-serif;
  margin-bottom: 200px;
}

.prefer-canvas-section > .prefer-heading {
  margin: 150px auto 50px;
}

.prefer-canvas-section > .clinic-locations {
  display: flex;
  justify-content: space-around;
}

/* product.html page content */
.product-header {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-header > #product-header-img {
  position: relative;
  width: 1600px;
  height: 760px;
  object-fit: cover;
  filter: contrast(70%) brightness(85%);
  margin: 0;
}

.product-header > h2 {
  font-size: 2.4em;
  position: absolute;
  left: 250px;
  top: 360px;
  color: white;
}

.product-header > p {
  font-family: Avenir, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  position: absolute;
  left: 250px;
  top: 540px;
  width: 40%;
  color: white;
}

.product-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 200px auto;
  font-family: Avenir, sans-serif;
}

.product-section > .product-section-img {
  flex-basis: 45%;
}

.product-section > .product-section-text {
  flex-basis: 45%;
  font-size: 1.3em;
}

.product-section-text > .quote {
  font-family: Tiempos Headline, sans-serif;
  font-style: oblique;
}

.product-section-text > .quote-name {
  font-size: 1.5em;
}

/* implementation.html page content */
.implem-header {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.implem-header > #implem-header-img {
  position: relative;
  width: 1600px;
  height: 760px;
  object-fit: cover;
  filter: contrast(70%) brightness(85%);
  margin: 0;
}

.implem-header > h2 {
  font-size: 2.4em;
  position: absolute;
  left: 250px;
  top: 320px;
  color: white;
  z-index: 2;
}

.implem-header > p {
  font-family: Avenir, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  position: absolute;
  left: 250px;
  top: 560px;
  width: 40%;
  color: white;
}

.implem-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 180px auto;
  font-family: Avenir, sans-serif;
}

.implem-section-heading {
  margin-bottom: 70px;
}

.implem-section-heading > h2 {
  font-size: 2.1em;
}

ol {
  list-style: none;
  counter-reset: list-counter;
  width: 90%;
}

ol > li {
  counter-increment: list-counter;
}

ol > li::before {
  content: counter(list-counter) ". ";
  font-family: Tiempos Headline, sans-serif;
  font-size: 2em;
}

li > span {
  font-size: 1.3em;
}

.section-list > ol > li > p {
  margin-bottom: 90px;
}

/* about-us page content */

.about-header {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-header > #about-header-img {
  position: relative;
  width: 1600px;
  height: 760px;
  object-fit: cover;
  filter: contrast(70%) brightness(85%);
  margin: 0;
}

.about-header > h2 {
  font-size: 2.4em;
  position: absolute;
  left: 250px;
  top: 480px;
  color: white;
  z-index: 2;
}

.page-content > .about-header > p {
  font-family: Avenir, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  position: absolute;
  left: 250px;
  top: 660px;
  width: 40%;
  color: white;
}

.what-we-believe-sect {
  display: flex;
  flex-direction: column;
  margin: 150px auto 200px;
  width: 40%;
}

.what-we-believe-sect > h2 {
  font-size: 2.2em;
  text-align: center;
}

.our-team-heading {
  text-align: center;
}

.our-team-sect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto 100px;
  width: 90%;
}

.team-members {
  margin: 30px 60px;
  flex-basis: calc(25%);
  text-align: center;
}

.member-photo-border > img {
  width: calc(70%);
  border: 0 none;
  border-radius: 50%;
  margin-bottom: 20px;
}

.advisory-board-sect > h2 {
  text-align: center;
}

.board-members {
  display: flex;
  justify-content: space-evenly;
}

.members-col {
  text-align: center;
}

.our-story-sect {
  width: 40%;
  margin: 200px auto;
}

.our-story-sect > h2 {
  text-align: center;
}
